body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

/* nav bar*/
.navbar {
    background: #1F3864;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 100px;
}

.navbar a {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
}

nav a:hover {
    color: white;
}


.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}


/*login & register*/
.container {
    width: 40%;
    margin: auto;
    padding: 30px;
}

input {
    display: block;
    width: 100%;
    font-size: large;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn {
    font-size: large;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    background: #026ebb 
}

.btn:hover {
    background: #005fa3;
    cursor: pointer;
    transition: 500ms;
}

/*dashbord, course lib*/
.main_container {
    padding: 50px;
}

.container2 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
}

.expert_badge {
    background-color: rgb(255, 215, 0);
    border-radius: 50%;
    color: black;
    width: 60px; 
    height: 60px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill_level_container {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    background-color: rgb(143, 193, 243);
    padding: 5px;
    height: max-content;
    border-radius: 10px; 
}

.right_bar {
    margin-top: 10px;
    padding: 5px;
    height: max-content;
    border: solid 2px #1F3864; 
    border-radius: 10px; 
    text-align: center;
}

.completed_course_disp {
    margin-top: 10px;
    height: 30px;
    width:70%;
    color: black;
    padding: 20px;
    border: solid 5px rgb(48, 163, 48);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed_course_disp:hover {
    background-color: rgb(246, 241, 234);
    cursor: pointer;
}

.retake_btn {
    width: max-content;
    padding: 10px;
    color: white;
    background-color: rgb(248, 73, 73);
    border: none;
    border-radius: 10px;
    float: right;
    align-items: center;
}

.retake_btn:hover {
    background-color: rgb(58, 124, 236);
    transition: 500ms;
}

/*What to learn next container*/
.what_to_learn_cont {
    width: 100%;
    display: flex;
    gap: 10px; 
    overflow-y: show;
    overflow-x: hidden;   
}

.what_to_learn_cont div {
    width: 300px;
    padding: 10px;
    border: solid 1px white;
}

.what_to_learn_cont div:hover{
    cursor: pointer;
    border: solid 1px #1F3864;
}

.what_to_learn_cont div span{
    display: block;
    font-size: small;
}