{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Meet Our Team</h1>
    <p class="subtitle">
        The talented individuals behind the project.
    </p>

    <div class="team-grid">

        <div class="card">
            <div class="name">Nkululeko Masina</div>
            <div class="role">Team Leader</div>
        </div>

        <div class="card">
            <div class="name">Dominique Minaar</div>
            <div class="role">Developer</div>
        </div>

        <div class="card">
            <div class="name">Flavi Munganga</div>
            <div class="role">Developer</div>
        </div>

        <div class="card">
            <div class="name">Luzanne Swanepoel</div>
            <div class="role">Network Administrator</div>
        </div>

        <div class="card">
            <div class="name">Khanyi Mahlangu</div>
            <div class="role">Database Administrator</div>
        </div>

    </div>
</div>

{% endblock %}