<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

{% for message in get_flashed_messages() %}
    <p style="padding:12px;background:#d4edda;color:#155724;border-radius:6px;margin:10px">
        {{ message }}
    </p>
{% endfor %}

    <div class="container">
        <div class="card">
            <h2>Create Account</h2>

            <form action="/register" method="POST">
                <div class="input-group">
                    <label>Full Name</label>
                    <input type="text" name="username" required>
                </div>

                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" required>
                </div>

                <div class="input-group">
                    <label>Phone Number</label>
                    <input type="text" name="phone">
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>

                <div class="input-group">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password">
                </div>

                <p>By signing up you agree to Skillifik's
                    <a href="">Terms of Service</a> &
                    <a href="">Privacy Policy</a>.
                </p>
                <button type="submit" class="btn">Register</button>
                <p>Already have an account?
                    <a href="{{ url_for('login') }}">login</a>
                </p>
            </form>
        </div>
    </div>

</body>
</html>
